* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.MuiButton-root {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0.4%;
  top: -1%;
}

.slick-prev::before,
.slick-next::before {
  color: #007bff;
  font-size: 40px;
}

.slick-prev {
  left: 24%;
  z-index: 1;
}

.slick-next {
  right: 26%;
}

.slick-prev,
.slick-next {
  top: -68px;
  z-index: 1;
}

@keyframes slideInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left-to-right {
  opacity: 0;
  animation: slideInLeftToRight 0.5s ease forwards;
}

/* Estilo por defecto para pantallas más grandes */
.my-recent-works {
  font-size: 3em;
  margin-bottom: 1%;
}

.with-underline {
  position: relative;
  text-align: center;
}

.with-underline::after {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  background-color: #007bff; /* Cambia este color según tu diseño */
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}


/* Estilo para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .my-recent-works {
    font-size: 2em; /* Ajusta este valor según lo necesites */
  }
}
