* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.MuiButton-root {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0.4%;
  top: -1%;
}

.slick-prev::before,
.slick-next::before {
  color: #007bff;
  font-size: 40px;
}

.slick-prev {
  left: 24%;
  z-index: 1;
}

.slick-next {
  right: 26%;
}

.slick-prev,
.slick-next {
  top: -60px;
  z-index: 1;
}

.my-recent-works {
  font-size: 2.5em;
  margin-bottom: 1%;
}

.with-underline {
  position: relative;
  text-align: center;
}

.with-underline::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #007bff;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .my-recent-works {
    font-size: 1.5em;
  }
}
