* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 1%;
  border-radius: 50px;
  margin-top: 1%;
}

.slick-prev::before,
.slick-next::before {
  color: rgb(108, 163, 235);
  font-size: 60px;
}

.slick-prev {
  left: -10%;
  z-index: 1;
}

.slick-next {
  right: -4%;
}

.cards-container {
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

@keyframes slideInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left-to-right {
  opacity: 0; 
  animation: slideInLeftToRight 0.5s ease forwards;
}

.works-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1); /* Sombra de texto para mejorar la legibilidad */
}


/*--------------------------------------------------*/

