.slick-prev::before,
.slick-next::before {
  color: lightslategray;
  font-size: 60px;
}

.slick-prev {
  left: -4%;
  z-index: 1;
}

.slick-next {
  right: -1%;
}

.cards-container {
  padding: 0 5%;
  margin-left: 10%;
  margin-right: 10%;
}

/* Cards.css */
.slick-slide > div {
  display: flex;
  justify-content: center;
}

@keyframes slideInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left-to-right {
  opacity: 0; /* Inicialmente oculto */
  animation: slideInLeftToRight 0.5s ease forwards;
}
