.slick-prev::before,
.slick-next::before {
  color: rgb(108, 163, 235);
  font-size: 60px;
}

.slick-prev {
  left: -10%;
  z-index: 1;
}

.slick-next {
  right: -4%;
}

.cards-container {
  margin-left: 15%;
  margin-right: 15%;
}

/* Cards.css */
.slick-slide > div {
  display: flex;
  justify-content: center;
}

@keyframes slideInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left-to-right {
  opacity: 0; /* Inicialmente oculto */
  animation: slideInLeftToRight 0.5s ease forwards;
}

.works-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  
}

.icon-animate {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.5s ease-out;
}

.icon-animate.slide-in-left-to-right {
  opacity: 1;
  transform: translateX(0);
}

